/* nav {
  display: flex;
  padding: 20px 15px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  font-size: 20px;
  font-weight: bold;
} */

/* ul {
  display: flex;
  list-style: none;
  justify-items: center;
  gap: 1px;
} */
/* 
li{
 
}

.buttons {
display: flex;
gap: 5px;
}
button{
  background-color: blue !important;
  padding: 10px !important;
  border-radius: 10px;
} */
